@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Noto+Sans+Sinhala:wght@100..900&family=Poppins:wght@300;400;500;600;700&family=Maname&display=swap');
@import "tailwindcss";

@theme {
  --font-sinhala: "Abhaya Libre", serif;
  --font-serif: "Abhaya Libre", serif;
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-maname: "Maname", serif;
}

body {
  font-family: var(--font-sans);
  background-color: #0a0a0a;
  color: #f5f5f5;
}
